* {
   margin: 0;
   padding: 0;

}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:#e6e6e6;
}

/*
**** Layout ****
*/

#area-cabecalho {
    background-color: #f7b660;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    background-color: white;
    width: 920px;
    margin: 0 auto;
}

#area-postagens, #area-lateral{
    background-color: orange;
}

#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral{
    width: 240px;
    float: right;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#ropape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}